<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/theme-variables.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/tactile-maximalism.css" />
    <link rel="stylesheet" href="css/face-aging.css" />
    <link rel="stylesheet" href="css/emotion-transfer.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fabric@6.5.1/dist/index.min.js"
            integrity="sha384-uwizC/PmbWPkJCrTMrSBSXyEkEk8eLhbxzeLOSfquA3NAvTqOSzUr9PTojpzXK+w"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"
            integrity="sha384-+mbV2IY1Zk/X1p/nWllGySJSUN8uMs+gUAN10Or95UBH0fpj6GfKgPmgC5EXieXG"
            crossorigin="anonymous"></script>
    <script src="js/mosaic.js"></script>
    <script src="js/passport.js"></script>
    <script src="js/imageviewer.js"></script>
    <script src="js/photoexpand.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.2/dist/jspdf.umd.min.js"
            crossorigin="anonymous"></script>
    <script src="js/gangsheet.js"></script>
    <script src="js/shapecut.js"></script>
    <script src="js/negativescan.js"></script>
    <script src="js/templatecollage.js"></script>
    <script src="js/autocrop.js"></script>
    <script src="js/face-cleanup.js"></script>
    <script src="js/signatureday.js"></script>
    <script src="js/face-aging.js"></script>
    <script src="js/emotion-transfer.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="js/razorpay.js"></script>
    <script src="js/tactile-micro.js"></script>
</body>

</html>
